
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f7f7f7, #e0f7fa);
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

header {
    background-color: #1565C0; /* Color cambiado a azul */
    color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
}

.boton-inicio {
    position: absolute;
    top: 70px; /* Espacio debajo del header */
    left: 20px; /* Pegado a la izquierda */
    background-color: #FFA726; /* Naranja */
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.boton-inicio button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
}

.boton-inicio button:hover {
    text-decoration: underline;
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

section:hover {
    transform: scale(1.02);
}

section img {
    margin: 10px 0;
    max-width: 100%;
    border-radius: 15px;
}

footer {
    background-color: #3f51b5; /* Color cambiado a azul */
    color: white;
    padding: 5px; /* Footer más delgado */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em; /* Texto más pequeño */
}

@media (max-width: 600px) {
    .menu button {
        width: 80%;
    }

    section {
        margin: 10px;
        padding: 15px;
    }

    section img {
        width: 100px;
    }
}
